'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'editor':
  'showIndentGuide': false
  'fontFamily': 'Source Code Pro'
  'fontSize': 13
'core':
  'audioBeep': false
  'disabledPackages': [
    'background-tips'
    'exception-reporting'
    'metrics'
  ]
  'projectHome': '~/Projects'
