"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use: {}
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "linter"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "pip-selfcheck.json"
    ]
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: false
    showInvisibles: true
  "ide-python": {}
  "isotope-light-ui":
    fontFamily: "System Default"
    matchEditorFont: true
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
  "linter-ui-default":
    showPanel: true
  minimap:
    autoToggle: true
    displayPluginsControls: false
    plugins: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
